* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #13142A !important;
}
body button {
  transition: all 0.3s;
}
body button:hover {
  cursor: pointer;
}
body a {
  text-decoration: none !important;
}

.regular-button {
  display: flex;
  gap: 1rem;
  border: none;
  border-radius: 0.3rem;
}
.regular-button:hover {
  transform: scale(0.95);
}
.regular-button__icon {
  color: #000000;
}
.regular-button__text {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}
.regular-button--add {
  background-color: #ffffff;
  padding: 0.2rem 1.5rem;
}
.regular-button--submit {
  background-color: #B457FD;
}

.small-button {
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 0.3rem 0.6rem;
}
.small-button:hover {
  transform: scale(1.2);
}
.small-button--edit {
  background-color: #B457FD;
}
.small-button--delete {
  background-color: #F900A8;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD400;
  padding: 2.5rem 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}
.member-card__image {
  width: 250px;
  -webkit-clip-path: circle();
          clip-path: circle();
}
.member-card__text {
  color: #000000;
  text-align: center;
}
.member-card__name {
  font-size: 1.3rem;
  font-weight: 700;
}
.member-card__description {
  font-size: 1rem;
}
.member-card__buttons-container {
  display: flex;
  gap: 1rem;
}

.navbar {
  background-color: #F900A8;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem !important;
}
.navbar__group {
  display: flex;
  align-items: center;
}
.navbar__image {
  transform: scale(0.85);
}
.navbar__menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-bottom: 0;
}
.navbar__link a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
.navbar__link a:hover {
  color: #13142A;
}
.navbar__link--active a {
  color: #FFD400;
}
.navbar__link--active a:hover {
  color: #FFD400;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2rem;
  min-height: 100vh;
}
.content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__image {
  transform: scale(0.85);
}
.content__title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}
.content__cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 1080px;
}

.footer {
  display: flex;
  background-color: #009CF3;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}
.footer__text {
  color: #ffffff;
  font-size: 0.95rem;
  font-weight: 600;
}
.footer__socials {
  display: flex;
  gap: 0.5rem;
}
.footer__socials a {
  color: #ffffff;
  font-size: 1.3rem;
}
.footer__socials a:hover {
  color: #13142A;
}

@media only screen and (max-width: 500px) {
  .regular-button__text {
    display: none;
  }
  .navbar {
    padding: 1rem !important;
  }
  .content__image {
    transform: scale(0.8);
  }
  .content__title {
    font-size: 1.5rem;
  }
  .footer {
    gap: 1rem;
  }
}
@media only screen and (max-width: 740px) {
  .navbar__link {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__text {
    text-align: center;
  }
}
@media only screen and (max-width: 1100px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .content__cards-container {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */